name: Test env workflow

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MY_VAR: "Matichelo"
    steps:
      - name: Test
        run: echo "Hello, $MY_VAR ${{ vars.LAST_NAME }}"